@import url(../fonts/SegoeUISemiBold/SegoeUI-SemiBold.css);
@import url(../fonts/SegoeUIRegular/SegoeUI-Regular.css);
@import url(../fonts/SegoeUIBold/SegoeUI-Bold.css);
@import url(../fonts/Grands-icon-font/style.css);
/* Helper classes
   ========================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after,
.container:after {
  clear: both;
}
.clearfix,
.container {
  *zoom: 1;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
/* Base styles
   ========================= */
body {
  line-height: 1.25;
  color: #333333;
  font-size: 16px;
  font-family: 'SegoeUI-Regular';
}
/* ----- Top ----- */
.header {
  z-index: 200;
  background: #fff;
}
@media (min-width: 992px) {
  .header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
  }
  .header .top-line {
    margin-top: 150px;
  }
}
.top {
  color: #333;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 0 10px 0;
}
.top .logo {
  cursor: pointer;
  display: inline-block;
  margin: 0 auto 15px auto;
}
.top .work-time {
  padding-left: 20px;
  text-align: center;
  margin-bottom: 5px;
  display: inline-block;
  background: url("../img/icon-worktime.png") left center no-repeat;
}
.top .phone {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'SegoeUI-Bold';
}
.top .text {
  text-align: center;
  margin-bottom: 8px;
}
.top .callback {
  float: left;
}
.top .ask-question {
  float: left;
  margin-left: 30px;
}
.top .address {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.top .address li {
  margin-bottom: 5px;
}
.top .address li .metro {
  padding-left: 25px;
  background: url("../img/icon-metro.png") left center no-repeat;
}
.top .address li a {
  color: #00a0de;
  text-decoration: underline;
}
.top .address li a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .top .logo {
    margin: -10px 0 -10px -10px;
  }
  .top .address {
    width: 150px;
    float: right;
    text-align: left;
  }
  .top .phone {
    margin-bottom: 0;
  }
}
@media (min-width: 1320px) {
  .top .logo {
    margin: -15px 0 -10px -10px;
  }
  .top .phone {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    font-family: 'SegoeUI-Bold';
  }
}
/* ----- Topnav ----- */
.topnav {
  background: #10ace8;
}
.topnav a {
  font-size: 16px;
}
.topnav .nav > li {
  background: #10ace8;
}
.topnav .nav > li > a {
  color: #fff;
  background: transparent;
  padding: 14px 8px;
  font-family: 'SegoeUI-SemiBold';
}
.topnav .nav > li:hover {
  background-color: #0d8bd3;
}
.topnav .dropdown-menu {
  width: 100%;
  border: none;
  display: block;
  position: relative;
  background-color: #10ace8;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.topnav .dropdown-menu > li a {
  color: #fff;
  padding: 7px 25px;
  font-family: 'SegoeUI-Regular';
}
.topnav .dropdown-menu > li a:hover {
  background-color: #0d8bd3;
}
.topnav .navbar-brand {
  color: #fff;
}
.topnav .navbar-toggle {
  color: #fff;
  margin-top: 5px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .topnav a {
    font-size: 14px;
  }
  .topnav .navbar-brand {
    display: none;
  }
  .topnav .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #0676b5;
  }
  .topnav .navbar-nav {
    width: 100%;
    display: table;
  }
  .topnav .navbar-nav > li {
    float: none;
    text-align: center;
    display: table-cell;
  }
  .topnav .navbar-nav > li:hover .dropdown-menu {
    display: block;
  }
}
@media (min-width: 1320px) {
  .topnav a {
    font-size: 18px;
  }
}
/* ----- Footer ----- */
.footer {
  padding-top: 20px;
}
.footer .footer-bottom {
  margin-top: 25px;
  padding-top: 30px;
  padding-bottom: 10px;
  border-top: 1px solid #eaeaea;
}
.footer .company {
  color: #ababab;
  font-size: 14px;
  text-align: center;
}
.footer .social {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  text-align: center;
  margin: 0 0 20px 0;
}
.footer .social li {
  width: 44px;
  height: 44px;
  margin: 0 7px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
}
.footer .social a {
  width: 100%;
  height: 100%;
  color: #00a0de;
  padding: 5px 0;
  font-size: 30px;
  line-height: 32px;
  display: inline-block;
  border: 1px solid #00a0de;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
}
.footer .social a:hover {
  color: #fff;
  background: #00a0de;
  text-decoration: none;
}
.footer .counter {
  text-align: center;
}
.footer .count {
  margin-left: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
@media (min-width: 768px) {
  .footer .company {
    text-align: left;
  }
  .footer .social {
    text-align: right;
  }
  .footer .counter {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .footer .social {
    text-align: left;
  }
}
/* ----- Side bar ----- */
.sidenav {
  z-index: 100;
  padding-left: 5px;
}
.sidenav .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
.sidenav .sidenav-title {
  color: #333;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 10px;
  font-family: 'SegoeUI-SemiBold';
  border-bottom: 1px solid #10ace8;
}
.sidenav .sidenav-title .navbar-toggle {
  color: #fff;
  border: none;
  font-size: 18px;
  float: right;
  cursor: pointer;
  margin-top: 5px;
  line-height: 20px;
  background: #10ace8;
  position: relative;
  margin-right: 15px;
  padding: 9px 10px;
  border-radius: 0;
}
.sidenav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidenav ul li {
  margin-bottom: 6px;
  position: relative;
}
.sidenav ul ul {
  padding-top: 6px;
  margin-left: 18px;
}
.sidenav ul ul li:before {
  left: 0;
  top: 12px;
  width: 2px;
  height: 2px;
  content: " ";
  position: absolute;
  background: #10ace8;
}
.sidenav ul .current:before {
  display: none;
}
.sidenav ul .current > a {
  color: #fff;
  background: #10ace8;
}
.sidenav ul .current > a span {
  border-color: transparent;
}
.sidenav a {
  color: #10ace8;
  font-size: 18px;
  padding: 3px 12px;
  line-height: 20px;
  display: inline-block;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}
.sidenav a span {
  border-bottom: 1px solid #b0e4f7;
}
.sidenav a:hover {
  color: #8ec63e;
}
.sidenav a:hover span {
  border-color: transparent;
}
@media (min-width: 768px) {
  .sidenav {
    margin-bottom: 40px;
  }
  .sidenav .sidenav-title {
    font-size: 20px;
    line-height: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
    border-color: transparent;
  }
}
.side-news .side-title {
  font-size: 20px;
  line-height: 24px;
  position: relative;
  font-family: 'SegoeUI-SemiBold';
  margin-bottom: 15px;
}
.side-news .side-title a {
  float: right;
  color: #9dce58;
  font-size: 14px;
  display: inline-block;
  font-family: 'SegoeUI-Regular';
  text-decoration: underline;
}
.side-news .side-title a:hover {
  text-decoration: none;
}
.side-news ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.side-news li {
  margin-bottom: 15px;
}
.side-news h4 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 4px;
  font-family: 'SegoeUI-Regular';
}
.side-news h4 a {
  border-bottom: 1px solid #b0e4f7;
}
.side-news h4 a:hover {
  border-color: transparent;
}
.side-news .news-date {
  color: #ababab;
  font-size: 14px;
}
.side-slider {
  text-align: center;
  margin-bottom: 30px;
  padding: 0 50px;
  border: 2px solid #00a0de;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.side-slider .side-slider-title {
  font-size: 20px;
  padding: 0 15px;
  background: #fff;
  line-height: 20px;
  margin-top: -12px;
  margin-bottom: 30px;
  position: relative;
  font-family: 'SegoeUI-SemiBold';
}
.side-slider .side-slider-photo {
  width: 150px;
  overflow: hidden;
  margin: 0 auto 15px auto;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
}
.side-slider .side-slider-name {
  color: #000;
  font-size: 20px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid #ababab;
}
.side-slider .side-slider-name:hover {
  color: #000;
  text-decoration: none;
  border-color: transparent;
}
.side-slider .side-slider-status {
  color: #ababab;
  display: block;
  margin-top: 8px;
  font-style: italic;
}
.side-slider .side-slider-body {
  height: 290px;
  overflow: hidden;
  position: relative;
}
.side-slider .side-slider-item {
  outline: none;
}
.side-slider .slick-dots {
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  bottom: 20px;
  list-style: none;
  position: absolute;
  text-align: center;
}
.side-slider .slick-dots li {
  width: 9px;
  height: 9px;
  font-size: 0;
  margin: 0 5px;
  line-height: 0;
  overflow: hidden;
  background: #cdcdcd;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.side-slider .slick-dots li button {
  border: 0;
  width: 9px;
  height: 9px;
  font-size: 0;
  padding: 5px;
  outline: none;
  line-height: 0;
  display: block;
  cursor: pointer;
  color: transparent;
  background: transparent;
}
.side-slider .slick-dots li.slick-active {
  background: #28ace2;
}
@media (min-width: 768px) {
  .side-slider {
    padding: 0 20px;
  }
}
@media (min-width: 992px) {
  .side-slider {
    padding: 0 50px;
  }
}
/* ----- Slider ----- */
.top-line {
  color: #fff;
  padding: 14px 0 18px 0;
  font-size: 22px;
  line-height: 34px;
  background: #8ec63e;
  font-family: 'SegoeUI-SemiBold';
}
@media (min-width: 992px) {
  .top-line {
    font-size: 36px;
    line-height: 46px;
    font-family: 'SegoeUI-Bold';
  }
}
.slider {
  overflow: hidden;
}
.slider .slide {
  outline: none;
  position: relative;
}
.slider .slide-text {
  left: 30px;
  bottom: 30px;
  overflow: hidden;
  position: absolute;
  padding: 20px 30px 40px 30px;
  background: url("../img/slide_text_bg.png") right top repeat-y;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.slider .slide-text .slide-title {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
}
.slider .slide-text p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
}
.slider .slide-text .new-price {
  font-size: 18px;
  font-family: 'SegoeUI-Bold';
}
.slider .slide-text .old-price {
  margin-left: 10px;
  position: relative;
  display: inline-block;
}
.slider .slide-text .old-price:before {
  left: 0;
  right: 0;
  top: 50%;
  content: " ";
  position: absolute;
  border-top: 1px solid #d00f10;
}
.slider .slide-text .btn {
  margin-top: 10px;
}
.slider .slick-dots {
  margin: 0;
  padding: 0;
  right: 30px;
  bottom: 30px;
  list-style: none;
  position: absolute;
}
.slider .slick-dots li {
  width: 20px;
  height: 20px;
  font-size: 0;
  margin: 0 9px;
  line-height: 0;
  overflow: hidden;
  background: #fff;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.slider .slick-dots li button {
  border: 0;
  width: 20px;
  height: 20px;
  font-size: 0;
  padding: 5px;
  outline: none;
  line-height: 0;
  display: block;
  cursor: pointer;
  color: transparent;
  background: transparent;
}
.slider .slick-dots li.slick-active {
  background: #095777;
}
@media (min-width: 768px) {
  .slider {
    height: 310px;
  }
}
@media (min-width: 992px) {
  .slider {
    height: 404px;
  }
}
@media (min-width: 1320px) {
  .slider {
    height: 541px;
  }
  .slider .slide-text {
    left: 50px;
    bottom: 50px;
    width: 774px;
    padding: 20px 40px 40px 35px;
  }
  .slider .slide-text .slide-title {
    font-size: 42px;
    line-height: 50px;
    font-family: 'SegoeUI-Bold';
  }
  .slider .slide-text p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .slider .slide-text .new-price {
    font-size: 24px;
  }
  .slider .slick-dots {
    right: 50px;
    bottom: 50px;
  }
}
.promo ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}
.promo li {
  color: #fcfcfc;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'SegoeUI-Bold';
  padding: 20px 5px 30px 5px;
}
.promo li.item1,
.promo li.item3 {
  background: #0d8bd3;
}
.promo li.item2,
.promo li.item4 {
  background: #10ace8;
}
.promo li .promo-value {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  position: relative;
  margin-bottom: 12px;
  padding-bottom: 15px;
}
.promo li .promo-value:before {
  left: 50%;
  bottom: 0;
  width: 160px;
  content: " ";
  position: absolute;
  margin-left: -80px;
  border-bottom: 1px solid #fcfcfc;
}
@media (min-width: 768px) {
  .promo {
    margin-bottom: 30px;
  }
  .promo ul {
    display: table;
  }
  .promo li {
    width: 25%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    display: table-cell;
    font-family: 'SegoeUI-Regular';
  }
}
@media (min-width: 992px) {
  .promo li {
    font-family: 'SegoeUI-Bold';
  }
}
@media (min-width: 1320px) {
  .promo li {
    font-size: 20px;
    line-height: 25px;
  }
  .promo li .promo-value {
    font-size: 48px;
    line-height: 50px;
  }
}
/* ----- Main page ----- */
.main {
  padding-top: 20px;
  padding-bottom: 50px;
  border-bottom: 2px solid #8ec63e;
}
.main h1 {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}
@media (min-width: 992px) {
  .main {
    padding-top: 170px;
  }
}
.breadcrumb {
  padding: 3px 0;
  font-size: 13px;
  margin-bottom: 5px;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
}
.breadcrumb > li + li:before {
  content: ">";
  padding: 0 5px;
  color: #cccccc;
}
.breadcrumb a {
  border-bottom: 1px solid #b0e4f7;
}
.breadcrumb a:hover {
  border-color: transparent;
}
.doctor-photo {
  padding-top: 5px;
  margin: 0 auto 25px auto;
}
.doctor-status {
  padding: 0;
  font-size: 20px;
  list-style: none;
  margin: 0 0 25px 0;
  text-align: center;
}
.education {
  padding: 0;
  font-size: 16px;
  list-style: none;
  margin: 0 0 25px 0;
}
.doctor-skills {
  margin-bottom: 28px;
  line-height: 18px;
}
.doctor-skills dl {
  padding: 0;
  margin: 0 0 6px;
}
.doctor-skills dt {
  width: 80px;
  float: left;
  color: #ababab;
  font-weight: 400;
  font-family: 'SegoeUI-Regular';
}
.doctor-skills dd {
  margin-left: 85px;
}
.reply {
  margin: 0;
  padding: 0;
  list-style: none;
}
.reply li {
  margin-bottom: 30px;
}
.reply .reply-title {
  font-size: 16px;
  margin-bottom: 10px;
}
.reply .reply-title .reply-author {
  color: #8ec63e;
  margin-right: 10px;
}
.reply .reply-title .reply-date {
  color: #ababab;
  font-style: italic;
}
.doctor {
  margin-bottom: 30px;
}
.doctor .doctor-title {
  text-align: center;
  margin-bottom: 20px;
}
.doctor h2 {
  margin-bottom: 15px;
}
.doctor h2 a {
  text-decoration: none;
  border-bottom: 1px solid #b0e4f7;
}
.doctor h2 a:hover {
  text-decoration: none;
  border-color: transparent;
}
.doctor .doctor-legend {
  margin: 0;
  padding: 0;
  color: #ababab;
  font-size: 16px;
  list-style: none;
  text-align: center;
}
.doctor .doctor-link {
  text-align: center;
}
.doctor .doctor-like {
  padding-right: 20px;
  padding-left: 40px;
}
.doctor .doctor-like a {
  height: 30px;
  color: #8ec63e;
  font-size: 19px;
  line-height: 30px;
  position: relative;
  margin-bottom: 15px;
  display: inline-block;
  text-decoration: underline;
}
.doctor .doctor-like a:before {
  top: 0;
  left: -40px;
  width: 30px;
  height: 30px;
  content: " ";
  position: absolute;
  background: url("../img/icon-like.png") 0 0 no-repeat;
}
.doctor .doctor-like a:hover {
  text-decoration: blink;
}
.content-image {
  padding-top: 15px;
  padding-bottom: 20px;
}
.gallery {
  width: 220px;
  margin: 0 auto;
}
.gallery .gallery-thumb {
  display: block;
  cursor: pointer;
  position: relative;
  margin-bottom: 30px;
}
.gallery .gallery-thumb:before {
  right: 18px;
  width: 34px;
  height: 34px;
  content: " ";
  z-index: 100;
  bottom: 20px;
  position: absolute;
  background: url("../img/icon-loop.png") 0 0 no-repeat;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.gallery .gallery-thumb:hover:before {
  right: 50%;
  bottom: 50%;
  margin-right: -17px;
  margin-bottom: -17px;
}
.text-warning {
  color: #444;
  padding: 20px;
  font-size: 16px;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 30px;
  border: 2px solid #00a0de;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.list-dent {
  padding: 0;
  list-style: none;
  margin: 0 0 20px 15px;
}
.list-dent li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}
.list-dent li:before {
  top: 4px;
  left: 0;
  width: 11px;
  height: 13px;
  content: " ";
  position: absolute;
  background: url("../img/icon-dent.png") 0 0 no-repeat;
}
.page-nav {
  padding-left: 15px;
  text-align: center;
}
.page-nav .go-back {
  font-size: 18px;
  line-height: 20px;
  position: relative;
  text-decoration: none;
  border-bottom: 1px solid #abe0f4;
}
.page-nav .go-back:before {
  top: 0;
  left: -15px;
  content: "<";
  color: #00a0de;
  position: absolute;
}
.page-nav .go-back:hover {
  text-decoration: none;
  border-color: transparent;
}
@media (min-width: 768px) {
  .doctor-status {
    text-align: left;
  }
  .doctor .doctor-link {
    text-align: right;
  }
  .doctor .doctor-legend {
    text-align: left;
  }
  .doctor .doctor-title {
    text-align: left;
  }
  .gallery {
    width: 100%;
  }
  .page-nav {
    text-align: left;
  }
  .text-warning {
    padding: 20px 35px;
  }
}
/* ----- Index Page ----- */
.keynote {
  margin-bottom: 30px;
}
.keynote h1 {
  margin-top: -5px;
}
.keynote .keynote-author {
  color: #000;
  text-align: center;
  margin-bottom: 15px;
  padding: 30px 40px;
  background: #ededed;
}
.keynote .keynote-author .keynote-photo {
  width: 140px;
  height: 140px;
  overflow: hidden;
  margin: 0 auto 25px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.keynote .keynote-author ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.keynote .keynote-author li {
  line-height: 20px;
  font-style: italic;
  margin-bottom: 12px;
  font-family: 'SegoeUI-SemiBold';
}
.keynote .keynote-author li:first-child {
  font-style: normal;
  font-family: 'SegoeUI-Bold';
}
.keynote .keynote-text {
  background: #fff;
}
.keynote .keynote-text .author {
  font-size: 17px;
  font-family: 'SegoeUI-SemiBold';
}
@media (min-width: 768px) {
  .keynote {
    margin-bottom: 50px;
    display: table;
  }
  .keynote .keynote-author {
    width: 300px;
    text-align: left;
    margin-bottom: 0;
    display: table-cell;
    vertical-align: top;
  }
  .keynote .keynote-text {
    padding-left: 30px;
    display: table-cell;
    vertical-align: top;
  }
}
@media (min-width: 992px) {
  .keynote .keynote-author {
    width: 320px;
    display: table-cell;
  }
  .keynote .keynote-text {
    padding-left: 50px;
    display: table-cell;
  }
}
.faq-block {
  margin-bottom: 40px;
}
.faq-block h1 {
  margin-bottom: 20px;
}
.faq-block .faq {
  margin: 0;
  padding: 0;
  list-style: none;
}
.faq-block .faq > li {
  margin-bottom: 6px;
}
.faq-block .faq-title {
  color: #10ace8;
  font-size: 18px;
  cursor: pointer;
  line-height: 20px;
  border-bottom: 1px dashed #10ace8;
}
.faq-block .faq-title.active {
  border-color: transparent;
}
.faq-block .faq-title:hover {
  border-color: transparent;
}
.faq-block .faq-section {
  margin: 15px 0 8px 0;
  padding: 20px;
  list-style: none;
  display: none;
  background: #ededed;
}
.faq-block .faq-section li {
  padding-left: 18px;
  position: relative;
  margin-bottom: 10px;
}
.faq-block .faq-section li:before {
  left: 0;
  top: 8px;
  width: 5px;
  height: 5px;
  content: " ";
  position: absolute;
  background: #0d8bd3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.faq-block .question {
  color: #10ace8;
  font-size: 18px;
  cursor: pointer;
  line-height: 20px;
  border-bottom: 1px dashed #10ace8;
}
.faq-block .question:hover {
  border-color: transparent;
}
.faq-block .question.active {
  border-color: transparent;
}
.faq-block .answer {
  display: none;
  padding: 10px 25px;
}
@media (min-width: 768px) {
  .faq-block .faq-title {
    font-size: 24px;
    line-height: 30px;
  }
}
.form-green {
  padding: 25px 0;
  margin-bottom: 60px;
  background: #95b53a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.form-green .form-title {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  font-family: 'SegoeUI-Bold';
}
.form-green .form-subtitle {
  color: #333333;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}
.form-green .form {
  padding: 0 20px;
}
.form-green .order-link {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #b6cd7a;
}
.form-green .order-link:hover {
  border-bottom-color: transparent;
}
@media (min-width: 768px) {
  .form-green {
    height: 317px;
    background: url("../img/green_form_bg.jpg") top center no-repeat;
  }
  .form-green .form-title {
    font-size: 28px;
    line-height: 34px;
  }
  .form-green .form-subtitle {
    font-size: 18px;
  }
  .form-green .form {
    width: 600px;
    margin: 0 auto 25px auto;
  }
}
@media (min-width: 1320px) {
  .form-green {
    padding: 35px 0;
  }
  .form-green .form-title {
    font-size: 36px;
    line-height: 40px;
  }
  .form-green .form-subtitle {
    font-size: 20px;
  }
}
.advantage {
  padding: 30px 0;
  margin-bottom: 35px;
  background: #10ace8;
}
.advantage h1 {
  color: #fff;
  margin-bottom: 45px;
}
.advantage .advant-box {
  margin-bottom: 20px;
}
.advantage .advant-box p {
  color: #000000;
  font-size: 14px;
  margin-bottom: 0;
}
.advantage .advant-box .advant-title {
  color: #fff;
  height: 55px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
  font-family: 'SegoeUI-Bold';
  padding: 4px 0 4px 60px;
  background-position: left center;
}
.advantage .advant-box .advant-title.item1 {
  background: url("../img/icon-advant-01.png") no-repeat;
}
.advantage .advant-box .advant-title.item2 {
  background: url("../img/icon-advant-02.png") no-repeat;
}
.advantage .advant-box .advant-title.item3 {
  background: url("../img/icon-advant-03.png") no-repeat;
}
.advantage .advant-box .advant-title.item4 {
  background: url("../img/icon-advant-04.png") no-repeat;
}
@media (min-width: 768px) {
  .advantage {
    padding: 30px 0 50px 0;
  }
}
@media (min-width: 1320px) {
  .advantage .advant-box p {
    font-size: 16px;
  }
  .advantage .advant-box .advant-title {
    font-size: 19px;
    line-height: 24px;
  }
}
.reply-block {
  margin-bottom: 40px;
}
.reply-block h1 {
  margin-bottom: 25px;
}
.reply-block ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
.reply-block ul li {
  color: #000;
  font-size: 14px;
  position: relative;
  margin-bottom: 30px;
}
.reply-block p {
  margin-bottom: 25px;
}
.reply-block .reply-title {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 4px 0 4px 50px;
  font-family: 'SegoeUI-SemiBold';
  background: url("../img/icon-bloquote.png") left top no-repeat;
}
.reply-block .reply-author {
  height: 50px;
  font-size: 14px;
  padding-top: 15px;
  line-height: 16px;
  font-family: 'SegoeUI-SemiBold';
  border-top: 1px solid #8ec63e;
}
@media (min-width: 768px) {
  .reply-block ul {
    margin: 0 -15px;
    display: table-cell;
  }
  .reply-block ul li {
    width: 25%;
    font-size: 16px;
    display: table-cell;
    padding: 0 15px 50px 15px;
  }
  .reply-block .reply-author {
    bottom: 0;
    left: 15px;
    right: 15px;
    position: absolute;
  }
}
.specialist-block {
  padding: 25px 0 35px 0;
  margin-bottom: 40px;
  border: 3px solid #00a0de;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.specialist-block h1 {
  margin-bottom: 40px;
}
.specialist-block .specialist-photo {
  width: 230px;
  height: 230px;
  overflow: hidden;
  margin: 0 auto 35px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.specialist-block .specialist-name {
  color: #000;
  font-size: 20px;
  margin-bottom: 15px;
  display: inline-block;
  text-decoration: none;
}
.specialist-block .specialist-name span {
  border-bottom: 1px solid #ababab;
}
.specialist-block .specialist-status {
  color: #ababab;
  display: block;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .specialist-block .specialist-photo {
    width: 180px;
    height: 180px;
  }
  .specialist-block .specialist-status {
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .specialist-block .specialist-photo {
    width: 230px;
    height: 230px;
  }
  .specialist-block .specialist-status {
    margin-bottom: 20px;
  }
}
.service-block {
  width: 240px;
  margin: 0 auto 70px auto;
}
.service-block h1 {
  margin-bottom: 30px;
}
.service-block .service-item {
  color: #fff;
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #00a0de;
  text-decoration: none;
  font-family: 'SegoeUI-Bold';
}
.service-block .service-item:hover {
  background: #8ec63e;
  text-decoration: none;
}
.service-block .service-link {
  width: 100%;
  height: 93px;
  display: table;
}
.service-block .service-link span {
  height: 93px;
  padding: 0 25px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .service-block {
    width: 618px;
  }
}
@media (min-width: 992px) {
  .service-block {
    width: 100%;
  }
}
.form-white {
  margin-bottom: 80px;
}
.form-white .form-title {
  color: #00a0de;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  font-family: 'SegoeUI-Bold';
}
.form-white .form-subtitle {
  color: #333333;
  font-size: 16px;
  text-align: center;
  margin-bottom: 25px;
}
.form-white .form {
  padding: 0 20px;
}
.form-white .order-link {
  color: #00a0de;
  display: inline-block;
  text-decoration: none;
  font-family: 'SegoeUI-Bold';
  text-transform: uppercase;
  border-bottom: 1px solid #abe0f4;
}
.form-white .order-link:hover {
  border-bottom-color: transparent;
}
@media (min-width: 768px) {
  .form-white .form-title {
    font-size: 28px;
    line-height: 34px;
  }
  .form-white .form-subtitle {
    font-size: 18px;
  }
  .form-white .form {
    width: 600px;
    margin: 0 auto 25px auto;
  }
}
@media (min-width: 1320px) {
  .form-white .form-title {
    font-size: 36px;
    line-height: 40px;
  }
  .form-white .form-subtitle {
    font-size: 20px;
  }
}
.certification-block {
  margin-bottom: 30px;
}
.certification-block h1 {
  margin-bottom: 30px;
}
.certification-block .certification {
  width: 215px;
  max-height: 330px;
  overflow: hidden;
  margin: 0 auto;
}
.certification-block .certification-item {
  outline: none;
}
.certification-block ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.certification-block li {
  width: 100%;
  padding: 0;
}
.certification-block li img {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .certification-block .certification {
    width: 100%;
  }
  .certification-block li {
    width: 180px;
    float: left;
    padding: 0 10px;
  }
}
@media (min-width: 992px) {
  .certification-block li {
    width: 235px;
  }
}
@media (min-width: 1320px) {
  .certification-block li {
    width: 315px;
  }
}
.partner-block {
  margin-bottom: 25px;
}
.partner-block .partners-slider {
  width: 240px;
  max-height: 95px;
  overflow: hidden;
  margin: 0 auto;
}
.partner-block h1 {
  position: relative;
}
.partner-block h1:before {
  left: 0;
  top: 25px;
  z-index: 1;
  width: 100%;
  content: " ";
  position: absolute;
  border-bottom: 1px solid #e3e3e3;
}
.partner-block h1 span {
  z-index: 10;
  padding: 0 35px;
  background: #fff;
  position: relative;
  display: inline-block;
}
.partner-block img {
  margin: 0 auto;
}
.partner-block ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.partner-block li {
  padding: 0 10px;
}
@media (min-width: 768px) {
  .partner-block .partners-slider {
    width: 100%;
    height: auto;
  }
  .partner-block li {
    width: 33.33%;
    float: left;
  }
}
@media (min-width: 992px) {
  .partner-block li {
    width: 20%;
    float: left;
  }
}
.quest-more {
  color: #fff;
  padding-top: 35px;
  background: #00a0de;
  padding-bottom: 30px;
}
.quest-more h1 {
  margin-bottom: 0;
}
.quest-more .text {
  color: #333;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.quest-more .btn {
  margin: 0 6px 20px 6px;
}
.map {
  height: 450px;
}
.slick-slide {
  outline: none;
}
/* ----- Index End ----- */
/* ------- Popup -------- */
.form-popup {
  width: 290px;
  background: #fff;
  padding: 17px 30px 30px 30px;
}
.form-popup .btn-close {
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  background: #2196f3 url("../img/btn-close.png") 50% 50% no-repeat;
}
.form-popup .btn-close:hover {
  background-color: #10ace8;
}
.form-popup .form-title {
  color: #303030;
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 15px;
  font-family: 'SegoeUI-Bold';
}
.form-popup .form-group {
  margin-bottom: 20px;
}
.form-popup .form-control.form-name {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.form-popup .form-control.form-phone {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.form-popup .btn {
  width: 100%;
  display: block;
}
.form-popup textarea {
  height: 173px;
}
.form-popup .form-done {
  color: #000;
  height: 148px;
  font-size: 14px;
  overflow: hidden;
  line-height: 22px;
  padding-top: 20px;
}
.form-popup .form-done p {
  margin-bottom: 40px;
}
.form-popup .form-done .close-link {
  color: #2196f3;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}
/* ------- Button & Form -------- */
.btn {
  overflow: hidden;
  outline: none;
  font-size: 16px;
  line-height: 21px;
  font-family: 'SegoeUI-Bold';
  text-transform: uppercase;
  padding: 6px 25px;
}
.btn:focus,
.btn:active {
  outline: none !important;
}
.btn::-moz-focus-inner {
  border: 0 !important;
}
.btn-green {
  color: #fff;
  background: #8ec63e;
  border-color: #8ec63e;
}
.btn-green:hover {
  color: #fff;
  background: #6a9d21;
  border-color: #6a9d21;
}
.btn-green:active {
  color: #fff;
  background: #466b11;
  border-color: #466b11;
}
.btn-blue {
  color: #fff;
  background: #10ace8;
  border-color: #10ace8;
}
.btn-blue:hover {
  color: #fff;
  background: #1f7cb1;
  border-color: #1f7cb1;
}
.btn-blue:active {
  color: #fff;
  background: #0b547e;
  border-color: #0b547e;
}
.btn-blue.invert {
  background: #0b547e;
  border-color: #0b547e;
}
.btn-blue.invert:hover {
  background: #1f7cb1;
  border-color: #1f7cb1;
}
.btn-blue.invert:active {
  background: #10ace8;
  border-color: #10ace8;
}
.btn-large {
  width: 100%;
  font-size: 14px;
  padding: 11px 15px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .btn-large {
    font-size: 16px;
  }
}
.form-control {
  height: auto;
  color: #333333;
  font-size: 14px;
  background: #fcfcfe;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #dbdee5;
  padding: 10px 12px;
}
.form-control::-moz-placeholder {
  color: #b8b8b8;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #b8b8b8;
}
.form-control::-webkit-input-placeholder {
  color: #b8b8b8;
}
.form-control:focus {
  background: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
textarea {
  resize: vertical;
}
/* Typography
   ========================= */
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 15px;
  font-family: 'SegoeUI-Bold';
}
h2 {
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 20px;
  font-family: 'SegoeUI-Bold';
}
h3 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 10px;
  font-family: 'SegoeUI-Bold';
}
p {
  padding: 0;
  margin: 0 0 10px 0;
}
a {
  color: #00a0de;
  text-decoration: none;
}
a:hover {
  color: #00a0de;
  text-decoration: none;
}
strong {
  font-weight: normal;
  font-family: 'SegoeUI-Bold';
}
.text-blue {
  color: #00a0de;
}
.text-red {
  color: #d00f10;
}
.table {
  margin-bottom: 30px;
}
.table > thead > tr > th {
  border-bottom: 1px solid #10ace8;
}
.table th {
  color: #fff;
  overflow: hidden;
  font-weight: 400;
  text-align: center;
  background: #10ace8;
  border-bottom: none;
  border-right: 1px solid #0d8bd3;
}
.table th:first-child {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
.table th:last-child {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
  border-right-color: #10ace8;
}
.table td {
  border: 1px solid #e1e1e1;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 11px 20px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f3f3f3;
}
