@import url(../fonts/SegoeUISemiBold/SegoeUI-SemiBold.css);
@import url(../fonts/SegoeUIRegular/SegoeUI-Regular.css);
@import url(../fonts/SegoeUIBold/SegoeUI-Bold.css);
@import url(../fonts/Grands-icon-font/style.css);

@import "mixing.less";

@font-semi      :   'SegoeUI-SemiBold';
@font-regular   :   'SegoeUI-Regular';
@font-bold      :   'SegoeUI-Bold';

@min-sm         :   768px;
@min-md         :   992px;
@min-lg         :   1320px;


/* Base styles
   ========================= */

body {
	line-height: 1.25;
	color: #333333;
	font-size: 16px;
	font-family: @font-regular;
}

/* ----- Top ----- */

.top {
	color: #333;
	font-size: 14px;
	line-height: 20px;
	padding: 15px 0 10px 0;

	.logo {
		cursor: pointer;
		display: inline-block;
		margin: 0 auto 15px auto;
	}

	.work-time {
		padding-left: 20px;
		text-align: center;
		margin-bottom: 5px;
		display: inline-block;
		background: url("../img/icon-worktime.png") left center no-repeat;
	}

	.phone {
		font-size: 24px;
		line-height: 32px;
		text-align: center;
		margin-bottom: 10px;
		font-family: @font-bold;
	}

	.text {
		text-align: center;
		margin-bottom: 8px;
	}

	.callback {
		float: left;
	}

	.ask-question {
		float: left;
		margin-left: 30px;
	}

	.address {
		margin: 0;
		padding: 0;
		text-align: center;
		list-style: none;

		li {
			margin-bottom: 5px;

			.metro {
				padding-left: 25px;
				background: url("../img/icon-metro.png") left center no-repeat;
			}

			a {
				color: #00a0de;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	@media (min-width: @min-sm) {

		.logo {
			margin: -10px 0 -10px -10px;
		}

		.address {
			width: 150px;
			float: right;
			text-align: left;

			li {
			}
		}

		.phone {
			margin-bottom: 0;
		}
	}

	@media (min-width: @min-lg) {

		.logo {
			margin: -15px 0 -10px -10px;
		}

		.phone {
			font-size: 32px;
			line-height: 32px;
			text-align: center;
			font-family: @font-bold;
		}
	}

}


/* ----- Topnav ----- */

.topnav {
	background: #10ace8;

	a {
		font-size: 16px;
	}

	.nav > li > a {
		color: #fff;
		background: #10ace8;
		padding: 14px 8px;
		font-family: @font-semi;

		&:hover {
			background-color: #0d8bd3;
		}
	}

	.nav .open > a,
	.nav .open > a:hover,
	.nav .open > a:focus {
		background-color: #0d8bd3;
		border-color: #0d8bd3;
	}

	.dropdown-menu {
		border: none;
		background-color: #0676b5;
		.box-shadow(none);

		> li {

			a {
				color: #fff;
				padding: 7px 25px;
				font-family: @font-regular;

				&:hover {
					background-color: #0d8bd3;
				}
			}
		}
	}


	.navbar-brand {
		color: #fff;
	}

	.navbar-toggle {
		color: #fff;
		margin-top: 5px;
		margin-bottom: 0;
	}



	@media (min-width: @min-sm) {

		a {
			font-size: 14px;
		}

		.navbar-brand {
			display: none;
		}

		.navbar-nav {
			width: 100%;
			display: table;

			> li {
				float: none;
				text-align: center;
				display: table-cell;
			}
		}
	}

	@media (min-width: @min-lg) {

		a {
			font-size: 18px;
		}
	}
}

/* ----- Footer ----- */

.footer {
	padding-top: 20px;

	.footer-bottom {
		margin-top: 25px;
		padding-top: 30px;
		padding-bottom: 10px;
		border-top: 1px solid #eaeaea;
	}

	.company {
		color: #ababab;
		font-size: 14px;
		text-align: center;
	}

	.social {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;
		margin: 0 0 20px 0;

		li {
			width: 44px;
			height: 44px;
			margin: 0 7px;
			overflow: hidden;
			text-align: center;
			display: inline-block;
		}

		a {
			width: 100%;
			height: 100%;
			color: #00a0de;
			padding: 5px 0;
			font-size: 30px;
			line-height: 32px;
			display: inline-block;
			border: 1px solid #00a0de;
			.border-radius(22px);

			&:hover {
				color: #fff;
				background: #00a0de;
				text-decoration: none;
			}
		}
	}

	.counter {
		text-align: center;
	}

	.count {
		margin-left: 10px;
		margin-bottom: 10px;
		display: inline-block;
	}


	@media (min-width: @min-sm) {

		.company {
			text-align: left;
		}

		.social {
			text-align: right;
		}

		.counter {
			text-align: right;
		}
	}

	@media (min-width: @min-md) {

		.social {
			text-align: left;
		}
	}
}

/* ----- Side bar ----- */

.sidenav {
	z-index: 100;

	padding-left: 5px;

	.navbar-collapse {
		margin-right: 0;
		margin-left: 0;
		padding-right: 0;
		padding-left: 0;
	}

	.sidenav-title {
		color: #333;
		font-size: 20px;
		line-height: 40px;
		margin-bottom: 10px;
		font-family: @font-semi;
		border-bottom: 1px solid #10ace8;

		.navbar-toggle {
			color: #fff;
			border: none;
			font-size: 18px;
			float: right;
			cursor: pointer;
			margin-top: 5px;
			line-height: 20px;
			background: #10ace8;
			position: relative;
			margin-right: 15px;
			padding: 9px 10px;
			border-radius: 0;
		}

	}

	.sidenav-body {

	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 6px;
			position: relative;
		}

		ul {
			padding-top: 6px;
			margin-left: 18px;

			li {
				&:before {
					left: 0;
					top: 12px;
					width: 2px;
					height: 2px;
					content: " ";
					position: absolute;
					background: #10ace8;
				}
			}
		}

		.current {

			&:before {
				display: none;
			}

			> a {
				color: #fff;
				background: #10ace8;

				span {
					border-color: transparent;
				}
			}
		}
	}

	a {
		color: #10ace8;
		font-size: 18px;
		padding: 3px 12px;
		line-height: 20px;
		display: inline-block;
		.border-radius(13px);

		span {
			border-bottom: 1px solid #b0e4f7;
		}

		&:hover {
			color: #8ec63e;

			span {
				border-color: transparent;
			}
		}
	}


	@media (min-width: @min-sm) {
		margin-bottom: 40px;

		.sidenav-title {
			font-size: 20px;
			line-height: 20px;
			margin-left: 15px;
			margin-bottom: 10px;
			border-color: transparent;
		}

	}

}

.side-news {

	.side-title {
		font-size: 20px;
		line-height: 24px;
		position: relative;
		font-family: @font-semi;
		margin-bottom: 15px;

		a {
			float: right;
			color: #9dce58;
			font-size: 14px;
			display: inline-block;
			font-family: @font-regular;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	ul {
		margin: 0;
		padding:0;
		list-style: none;
	}

	li {
		margin-bottom: 15px;
	}

	h4 {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 4px;
		font-family: @font-regular;

		a {
			border-bottom: 1px solid #b0e4f7;

			&:hover {
				border-color: transparent;
			}
		}
	}

	.news-date {
		color: #ababab;
		font-size: 14px;
	}
}

.side-slider {
	text-align: center;
	margin-bottom: 30px;
	padding: 0 50px;
	border: 2px solid #00a0de;
	.border-radius(8px);

	.side-slider-title {
		font-size: 20px;
		padding: 0 15px;
		background: #fff;
		line-height: 20px;
		margin-top: -12px;
		margin-bottom: 30px;
		position: relative;
		font-family: @font-semi;
	}

	.side-slider-photo {
		width: 150px;
		overflow: hidden;
		margin: 0 auto 15px auto;
		.border-radius(75px);
	}

	.side-slider-name {
		color: #000;
		font-size: 20px;
		line-height: 22px;
		text-decoration: none;
		border-bottom: 1px solid #ababab;

		&:hover {
			color: #000;
			text-decoration: none;
			border-color: transparent;
		}
	}

	.side-slider-status {
		color: #ababab;
		display: block;
		margin-top: 8px;
		font-style: italic;
	}

	.side-slider-body {
		height: 290px;
		overflow: hidden;
		position: relative;
	}

	.side-slider-item {
		outline: none;
	}

	.slick-dots {
		left: 0;
		right: 0;
		margin: 0;
		padding: 0;
		bottom: 20px;
		list-style: none;
		position: absolute;
		text-align: center;

		li {
			width: 9px;
			height: 9px;
			font-size: 0;
			margin: 0 5px;
			line-height: 0;
			overflow: hidden;
			background: #cdcdcd;
			display: inline-block;
			.border-radius(50%);

			button {
				border: 0;
				width: 9px;
				height: 9px;
				font-size: 0;
				padding: 5px;
				outline: none;
				line-height: 0;
				display: block;
				cursor: pointer;
				color: transparent;
				background: transparent;
			}

			&.slick-active {
				background: #28ace2;
			}
		}
	}

	@media (min-width: @min-sm) {
		padding: 0 20px;
	}

	@media (min-width: @min-md) {
		padding: 0 50px;
	}
}


/* ----- Slider ----- */

.top-line {
	color: #fff;
	padding: 14px 0 18px 0;
	font-size: 22px;
	line-height: 34px;
	background: #8ec63e;
	font-family: @font-semi;

	@media (min-width: @min-md) {
		font-size: 36px;
		line-height: 46px;
		font-family: @font-bold;
	}
}

.slider {
	overflow: hidden;

	.slide {
		outline: none;
		position: relative;
	}

	.slide-text {
		left: 30px;
		bottom: 30px;
		overflow: hidden;
		position: absolute;
		padding: 20px 30px 40px 30px;
		background: url("../img/slide_text_bg.png") right top repeat-y;
		.border-radius(8px);

		.slide-title {
			font-size: 30px;
			line-height: 36px;
			margin-bottom: 20px;
		}

		p {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 5px;
		}

		.new-price {
			font-size: 18px;
			font-family: @font-bold;
		}

		.old-price {
			margin-left: 10px;
			position: relative;
			display: inline-block;

			&:before {
				left: 0;
				right: 0;
				top: 50%;
				content: " ";
				position: absolute;
				border-top: 1px solid #d00f10;
			}
		}

		.btn {
			margin-top: 10px;
		}
	}

	.slick-dots {
		margin: 0;
		padding: 0;
		right: 30px;
		bottom: 30px;
		list-style: none;
		position: absolute;

		li {
			width: 20px;
			height: 20px;
			font-size: 0;
			margin: 0 9px;
			line-height: 0;
			overflow: hidden;
			background: #fff;
			display: inline-block;
			.border-radius(50%);

			button {
				border: 0;
				width: 20px;
				height: 20px;
				font-size: 0;
				padding: 5px;
				outline: none;
				line-height: 0;
				display: block;
				cursor: pointer;
				color: transparent;
				background: transparent;
			}

			&.slick-active {
				background: #095777;
			}
		}
	}

	@media (min-width: @min-sm) {
		height: 310px;
	}

	@media (min-width: @min-md) {
		height: 404px;

	}

	@media (min-width: @min-lg) {
		height: 541px;

		.slide-text {
			left: 50px;
			bottom: 50px;
			width: 774px;
			padding: 20px 40px 40px 35px;

			.slide-title {
				font-size: 42px;
				line-height: 50px;
				font-family: @font-bold;
			}

			p {
				font-size: 20px;
				line-height: 24px;
				margin-bottom: 15px;
			}

			.new-price {
				font-size: 24px;
			}
		}

		.slick-dots {
			right: 50px;
			bottom: 50px;
		}
	}
}

.promo {

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		display: block;
		list-style: none;
	}

	li {
		color: #fcfcfc;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
		font-family: @font-bold;
		padding: 20px 5px 30px 5px;

		&.item1,
		&.item3 {
			background: #0d8bd3;
		}

		&.item2,
		&.item4 {
			background: #10ace8;
		}

		.promo-value {
			font-size: 30px;
			line-height: 40px;
			text-align: center;
			position: relative;
			margin-bottom: 12px;
			padding-bottom: 15px;

			&:before {
				left: 50%;
				bottom: 0;
				width: 160px;
				content: " ";
				position: absolute;
				margin-left: -80px;
				border-bottom: 1px solid #fcfcfc;
			}
		}
	}


	@media (min-width: @min-sm) {

		margin-bottom: 30px;

		ul {
			display: table;
		}

		li {
			width: 25%;
			margin-top: 0;
			margin-bottom: 0;
			text-align: center;
			display: table-cell;
			font-family: @font-regular;
		}
	}

	@media (min-width: @min-md) {

		li {
			font-family: @font-bold;
		}
	}


	@media (min-width: @min-lg) {

		li {
			font-size: 20px;
			line-height: 25px;

			.promo-value {
				font-size: 48px;
				line-height: 50px;
			}
		}
	}
}


/* ----- Main page ----- */

.main {
	padding-top: 20px;
	padding-bottom: 50px;
	border-bottom: 2px solid #8ec63e;

	h1 {
		margin-bottom: 25px;
		padding-bottom: 15px;
		border-bottom: 1px solid #e1e1e1;
	}
}

.breadcrumb {
	padding: 3px 0;
	font-size: 13px;
	margin-bottom: 5px;
	list-style: none;
	background-color: transparent;
	border-radius: 0;

	> li + li:before {
		content: ">";
		padding: 0 5px;
		color: #cccccc;
	}

	a {
		border-bottom: 1px solid #b0e4f7;

		&:hover {
			border-color: transparent;
		}
	}
}

.doctor-photo {
	padding-top: 5px;
	margin: 0 auto 25px auto;
}

.doctor-status {
	padding: 0;
	font-size: 20px;
	list-style: none;
	margin: 0 0 25px 0;
	text-align: center;
}

.education {
	padding: 0;
	font-size: 16px;
	list-style: none;
	margin: 0 0 25px 0;
}

.doctor-skills {
	margin-bottom: 28px;
	line-height: 18px;


	dl {
		padding: 0;
		margin: 0 0 6px;
	}

	dt {
		width: 80px;
		float: left;
		color: #ababab;
		font-weight: 400;
		font-family: @font-regular;
	}

	dd {
		margin-left: 85px;
	}
}

.reply {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin-bottom: 30px;
	}

	.reply-title {
		font-size: 16px;
		margin-bottom: 10px;

		.reply-author {
			color: #8ec63e;
			margin-right: 10px;
		}

		.reply-date {
			color: #ababab;
			font-style: italic;
		}
	}
}

.doctor {
	margin-bottom: 30px;

	.doctor-title {
		text-align: center;
		margin-bottom: 20px;
	}

	h2 {
		margin-bottom: 15px;

		a {
			text-decoration: none;
			border-bottom: 1px solid #b0e4f7;

			&:hover {
				text-decoration: none;
				border-color: transparent;
			}
		}
	}

	.doctor-legend {
		margin: 0;
		padding: 0;
		color: #ababab;
		font-size: 16px;
		list-style: none;
		text-align: center;
	}

	.doctor-link {
		text-align: center;

	}

	.doctor-like {
		padding-right: 20px;
		padding-left: 40px;

		a {
			height: 30px;
			color: #8ec63e;
			font-size: 19px;
			line-height: 30px;
			position: relative;
			margin-bottom: 15px;
			display: inline-block;
			text-decoration: underline;

			&:before {
				top: 0;
				left: -40px;
				width: 30px;
				height: 30px;
				content: " ";
				position: absolute;
				background: url("../img/icon-like.png") 0 0 no-repeat;
			}

			&:hover {
				text-decoration: blink;
			}
		}
	}


}

.content-image {
	padding-top: 15px;
	padding-bottom: 20px;
}

.gallery {
	width: 220px;
	margin: 0 auto;

	.gallery-thumb {
		display: block;
		cursor: pointer;
		position: relative;
		margin-bottom: 30px;

		&:before {
			right: 18px;
			width: 34px;
			height: 34px;
			content: " ";
			z-index: 100;
			bottom: 20px;
			position: absolute;
			background: url("../img/icon-loop.png") 0 0 no-repeat;
			.transition(.3s);
		}

		&:hover {

			&:before {
				right: 50%;
				bottom: 50%;
				margin-right: -17px;
				margin-bottom: -17px;
			}
		}
	}
}

.text-warning {
	color: #444;
	padding: 20px;
	font-size: 16px;
	font-style: italic;
	margin-top: 25px;
	margin-bottom: 30px;
	border: 2px solid #00a0de;
	.border-radius(6px);
}

.list-dent {
	padding: 0;
	list-style: none;
	margin: 0 0 20px 15px;

	li {
		position: relative;
		padding-left: 25px;
		margin-bottom: 10px;

		&:before {
			top: 4px;
			left: 0;
			width: 11px;
			height: 13px;
			content: " ";
			position: absolute;
			background: url("../img/icon-dent.png") 0 0 no-repeat;
		}
	}
}

.page-nav {
	padding-left: 15px;
	text-align: center;

	.go-back {
		font-size: 18px;
		line-height: 20px;
		position: relative;
		text-decoration: none;
		border-bottom: 1px solid #abe0f4;

		&:before {
			top: 0;
			left: -15px;
			content: "<";
			color: #00a0de;
			position: absolute;
		}

		&:hover {
			text-decoration: none;
			border-color: transparent;
		}
	}
}


@media (min-width: @min-sm) {

	.doctor-status {
		text-align: left;
	}

	.doctor {

		.doctor-link {
			text-align: right;
		}

		.doctor-legend {
			text-align: left;
		}

		.doctor-title {
			text-align: left;
		}
	}

	.gallery {
		width: 100%;
	}

	.page-nav {
		text-align: left;
	}

	.text-warning {
		padding: 20px 35px;
	}
}

/* ----- Index Page ----- */

.keynote {
	margin-bottom: 30px;

	h1 {
		margin-top: -5px;
	}

	.keynote-author {
		color: #000;
		text-align: center;
		margin-bottom: 15px;
		padding: 30px 40px;
		background: #ededed;

		.keynote-photo {
			width: 140px;
			height: 140px;
			overflow: hidden;
			margin: 0 auto 25px auto;
			.border-radius(50%);
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			line-height: 20px;
			font-style: italic;
			margin-bottom: 12px;
			font-family: @font-semi;

			&:first-child {
				font-style: normal;
				font-family: @font-bold;
			}
		}
	}

	.keynote-text {
		background: #fff;

		.author {
			font-size: 17px;
			font-family: @font-semi;
		}
	}

	@media (min-width: @min-sm) {
		margin-bottom: 50px;

		display: table;

		.keynote-author {
			width: 300px;
			text-align: left;
			margin-bottom: 0;
			display: table-cell;
			vertical-align: top;
		}

		.keynote-text {
			padding-left: 30px;
			display: table-cell;
			vertical-align: top;
		}

	}

	@media (min-width: @min-md) {

		.keynote-author {
			width: 320px;
			display: table-cell;

		}

		.keynote-text {
			padding-left: 50px;
			display: table-cell;

		}
	}
}

.faq-block {
	margin-bottom: 40px;

	h1 {
		margin-bottom: 20px;
	}

	.faq {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			margin-bottom: 6px;
		}
	}

	.faq-title {
		color: #10ace8;
		font-size: 18px;
		cursor: pointer;
		line-height: 20px;
		border-bottom: 1px dashed #10ace8;

		&.active {
			border-color: transparent;
		}

		&:hover {
			border-color: transparent;
		}
	}

	.faq-section {
		margin: 15px 0 8px 0;
		padding: 20px;
		list-style: none;
		display: none;
		background: #ededed;

		li {
			padding-left: 18px;
			position: relative;
			margin-bottom: 10px;

			&:before {
				left: 0;
				top: 8px;
				width: 5px;
				height: 5px;
				content: " ";
				position: absolute;
				background: #0d8bd3;
				.border-radius(50%);
			}
		}
	}

	.question {
		color: #10ace8;
		font-size: 18px;
		cursor: pointer;
		line-height: 20px;
		border-bottom: 1px dashed #10ace8;

		&:hover {
			border-color: transparent;
		}

		&.active {
			border-color: transparent;
		}
	}

	.answer {
		display: none;
		padding: 10px 25px;
	}

	@media (min-width: @min-sm) {

		.faq-title {
			font-size: 24px;
			line-height: 30px;

		}
	}
}

.form-green {

	padding: 25px 0;
	margin-bottom: 60px;
	background: #95b53a;
	.border-radius(5px);

	.form-title {
		color: #fff;
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		font-family: @font-bold;
	}

	.form-subtitle {
		color: #333333;
		font-size: 16px;
		text-align: center;
		margin-bottom: 20px;
	}

	.form {
		padding: 0 20px;
	}

	.order-link {
		color: #fff;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid #b6cd7a;

		&:hover {
			border-bottom-color: transparent;
		}
	}


	@media (min-width: @min-sm) {
		height: 317px;
		background: url("../img/green_form_bg.jpg") top center no-repeat;

		.form-title {
			font-size: 28px;
			line-height: 34px;
		}


		.form-subtitle {
			font-size: 18px;
		}

	    .form {
		    width: 600px;
		    margin: 0 auto 25px auto;
	    }
	}

	@media (min-width: @min-lg) {

		padding: 35px 0;

		.form-title {
			font-size: 36px;
			line-height: 40px;
		}


		.form-subtitle {

			font-size: 20px;
		}
	}
}

.advantage {
	padding: 30px 0;
	margin-bottom: 35px;
	background: #10ace8;

	h1 {
		color: #fff;
		margin-bottom: 45px;
	}

	.advant-box {
		margin-bottom: 20px;

		p {
			color: #000000;
			font-size: 14px;
			margin-bottom: 0;
		}

		.advant-title {
			color: #fff;
			height: 55px;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 25px;
			font-family: @font-bold;
			padding: 4px 0 4px 60px;
			background-position: left center;

			&.item1 {
				background: url("../img/icon-advant-01.png") no-repeat;
			}

			&.item2 {
				background: url("../img/icon-advant-02.png") no-repeat;
			}

			&.item3 {
				background: url("../img/icon-advant-03.png") no-repeat;
			}

			&.item4 {
				background: url("../img/icon-advant-04.png") no-repeat;
			}
		}
	}

	@media (min-width: @min-sm) {
		padding: 30px 0 50px 0;
	}

	@media (min-width: @min-lg) {

		.advant-box {

			p {
				font-size: 16px;
			}

			.advant-title {
				font-size: 19px;
				line-height: 24px;
			}
		}
	}
}

.reply-block {
	margin-bottom: 40px;

	h1 {
		margin-bottom: 25px;
	}

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		list-style: none;

		li {
			color: #000;
			font-size: 14px;
			position: relative;
			margin-bottom: 30px;
		}
	}

	p {
		margin-bottom: 25px;
	}

	.reply-title {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 10px;
		padding: 4px 0 4px 50px;
		font-family: @font-semi;
		background: url("../img/icon-bloquote.png") left top no-repeat;
	}

	.reply-author {
		height: 50px;
		font-size: 14px;
		padding-top: 15px;
		line-height: 16px;
		font-family: @font-semi;
		border-top: 1px solid #8ec63e;
	}

	@media (min-width: @min-sm) {

		ul {
			margin: 0 -15px;
			display: table-cell;

			li {
				width: 25%;
				font-size: 16px;
				display: table-cell;
				padding: 0 15px 50px 15px;
			}
		}

		.reply-author {
			bottom: 0;
			left: 15px;
			right: 15px;
			position: absolute;
		}
	}
}

.specialist-block  {
	padding: 25px 0 35px 0;
	margin-bottom: 40px;
	border: 3px solid #00a0de;
	.border-radius(7px);

	h1 {
		margin-bottom: 40px;
	}

	.specialist-photo {
		width: 230px;
		height: 230px;
		overflow: hidden;
		margin: 0 auto 35px auto;
		.border-radius(50%);
	}

	.specialist-name {
		color: #000;
		font-size: 20px;
		margin-bottom: 15px;
		display: inline-block;
		text-decoration: none;

		span {
			border-bottom: 1px solid #ababab;
		}
	}

	.specialist-status {
		color: #ababab;
		display: block;
		margin-bottom: 40px;
	}

	@media (min-width: @min-sm) {

		.specialist-photo {
			width: 180px;
			height: 180px;
		}

		.specialist-status {
			margin-bottom: 20px;
		}
	}


	@media (min-width: @min-md) {

		.specialist-photo {
			width: 230px;
			height: 230px;
		}

		.specialist-status {
			margin-bottom: 20px;
		}
	}
}

.service-block {
	width: 240px;
	margin: 0 auto 70px auto;

	h1 {
		margin-bottom: 30px;
	}

	.service-item {
		color: #fff;
		display: block;
		overflow: hidden;
		margin-bottom: 30px;
		.border-radius(5px);
		background: #00a0de;
		text-decoration: none;
		font-family: @font-bold;

		&:hover {
			background: #8ec63e;
			text-decoration: none;
		}
	}

	.service-link {
		width: 100%;
		height: 93px;
		display: table;

		span {
			height: 93px;
			padding: 0 25px;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
		}
	}


	@media (min-width: @min-sm) {
		width: 618px;
	}

	@media (min-width: @min-md) {
		width: 100%;
	}
}

.form-white {
	margin-bottom: 80px;

	.form-title {
		color: #00a0de;
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		font-family: @font-bold;
	}

	.form-subtitle {
		color: #333333;
		font-size: 16px;
		text-align: center;
		margin-bottom: 25px;
	}

	.form {
		padding: 0 20px;
	}

	.order-link {
		color: #00a0de;
		display: inline-block;
		text-decoration: none;
		font-family: @font-bold;
		text-transform: uppercase;
		border-bottom: 1px solid #abe0f4;

		&:hover {
			border-bottom-color: transparent;
		}
	}


	@media (min-width: @min-sm) {

		.form-title {
			font-size: 28px;
			line-height: 34px;
		}


		.form-subtitle {
			font-size: 18px;
		}

		.form {
			width: 600px;
			margin: 0 auto 25px auto;
		}
	}

	@media (min-width: @min-lg) {

		.form-title {
			font-size: 36px;
			line-height: 40px;
		}


		.form-subtitle {
			font-size: 20px;
		}
	}
}

.certification-block {
	margin-bottom: 30px;

	h1 {
		margin-bottom: 30px;
	}

	ul {
		padding: 0;
		margin: 0 -15px;
		list-style: none;
	}

	li {
		width: 100%;
		padding: 0 15px 30px 15px;

		img {
			margin: 0 auto;
		}
	}

	@media (min-width: @min-sm) {

		li {
			width: 20%;
			float: left;
		}
	}
}

.partner-block {
	margin-bottom: 25px;

	h1 {
		position: relative;

		&:before {
			left: 0;
			top: 25px;
			z-index: 1;
			width: 100%;
			content: " ";
			position: absolute;
			border-bottom: 1px solid #e3e3e3;
		}

		span {
			z-index: 10;
			padding: 0 35px;
			background: #fff;
			position: relative;
			display: inline-block;
		}
	}

	img {
		margin: 0 auto;
	}

	ul {
		padding: 0;
		margin: 0 -15px;
		list-style: none;
	}

	li {
		padding: 0 15px;
		margin-bottom: 15px;
	}


	@media (min-width: @min-sm) {

		li {
			width: 20%;
			float: left;
		}
	}
}

.quest-more {
	color: #fff;
	padding-top: 35px;
	background: #00a0de;
	padding-bottom: 30px;

	h1 {
		margin-bottom: 0;
	}

	.text {
		color: #333;
		font-size: 20px;
		text-align: center;
		margin-bottom: 20px;
	}

	.btn {
		margin: 0 6px 20px 6px;
	}
}

.map {
	height: 450px;
}

/* ----- Index End ----- */




/* ------- Popup -------- */

.form-popup {
	width: 290px;
	background: #fff;
	padding: 17px 30px 30px 30px;


	.btn-close {
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		cursor: pointer;
		position: absolute;
		background: #2196f3 url("../img/btn-close.png") 50% 50% no-repeat;

		&:hover {
			background-color: #10ace8;
		}
	}

	.form-title {
		color: #303030;
		font-size: 24px;
		line-height: 25px;
		margin-bottom: 15px;
		font-family: @font-bold;
	}

	.form-group {
		margin-bottom: 20px;
	}

	.form-control {

		&.form-name {
			.border-radius(4px 4px 0 0);
		}

		&.form-phone {
			.border-radius(0 0 4px 4px);
		}
	}

	.btn {
		width: 100%;
		display: block;
	}

	textarea {
		height: 173px;
	}

	.form-done {
		color: #000;
		height: 148px;
		font-size: 14px;
		overflow: hidden;
		line-height: 22px;
		padding-top: 20px;

		p {
			margin-bottom: 40px;
		}

		.close-link {
			color: #2196f3;
			font-size: 16px;
			cursor: pointer;
			text-transform: uppercase;
		}
	}
}

/* ------- Button & Form -------- */



.btn {
	overflow: hidden;
	outline: none;
	font-size: 16px;
	line-height: 21px;
	font-family: @font-bold;
	text-transform: uppercase;
	padding: 6px 25px;

	&:focus,
	&:active {
		outline: none !important;
	}

	&::-moz-focus-inner {
		border: 0 !important;
	}
}

.btn-green {
	color: #fff;
	background: #8ec63e;
	border-color: #8ec63e;

	&:hover {
		color: #fff;
		background: #6a9d21;
		border-color: #6a9d21;
	}

	&:active {
		color: #fff;
		background: #466b11;
		border-color: #466b11;
	}
}

.btn-blue {
	color: #fff;
	background: #10ace8;
	border-color: #10ace8;

	&:hover {
		color: #fff;
		background: #1f7cb1;
		border-color: #1f7cb1;
	}

	&:active {
		color: #fff;
		background: #0b547e;
		border-color: #0b547e;
	}

	&.invert {
		background: #0b547e;
		border-color: #0b547e;

		&:hover {
			background: #1f7cb1;
			border-color: #1f7cb1;
		}

		&:active {
			background: #10ace8;
			border-color: #10ace8;
		}
	}
}

.btn-large {
	width: 100%;
	font-size: 14px;
	padding: 11px 15px;
	line-height: 20px;

	@media (min-width: @min-sm) {
		font-size: 16px;
	}
}


.form-control {
	height: auto;
	color: #333333;
	font-size: 14px;
	background: #fcfcfe;
	.border-radius(4px);
	.box-shadow(none);
	border-color: #dbdee5;
	padding: 10px 12px;

	.placeholder(#b8b8b8);

	&:focus {
		background: #fff;
		.box-shadow(none);
	}
}

textarea {
	resize: vertical;
}


/* Typography
   ========================= */

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}


h1 {
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 15px;
	font-family: @font-bold;
}

h2 {
	font-size: 28px;
	line-height: 30px;
	margin-bottom: 20px;
	font-family: @font-bold;
}

h3 {
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 10px;
	font-family: @font-bold;
}


p {
	padding: 0;
	margin: 0 0 10px 0;
}

a {
	color: #00a0de;
	text-decoration: none;

	&:hover {
		color: #00a0de;
		text-decoration: none;
	}
}

strong {
	font-weight: normal;
	font-family: @font-bold;
}


.text-blue {
	color: #00a0de;
}

.text-red {
	color: #d00f10;
}


.table {
	margin-bottom: 30px;

	tr:first-child {

	}

	> thead {


		> tr {

			> th {
				border-bottom: 1px solid #10ace8;
			}
		}
	}

	th {
		color: #fff;
		overflow: hidden;
		font-weight: 400;
		background: #10ace8;
		border-bottom: none;
		border-right: 1px solid #0d8bd3;

		&:first-child {
			.border-radius(3px 0 0 0);
		}

		&:last-child {
			.border-radius(0 3px 0 0);
			border-right-color: #10ace8;
		}
	}

	td {
		border: 1px solid #e1e1e1;
	}
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 11px 20px;
}


.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #f3f3f3;
}